# Networking STM32 HAL Configuration
CONFIG_NET_L2_ETHERNET=y
CONFIG_ETH_DRIVER=y
CONFIG_ETH_STM32_HAL=y
CONFIG_ETH_STM32_HAL_RX_THREAD_STACK_SIZE=2048
CONFIG_ETH_STM32_HAL_PHY_ADDRESS=1
CONFIG_ENTROPY_GENERATOR=y

# Enable Clocks
CONFIG_CLOCK_CONTROL=y

# Enable pin controller
CONFIG_PINCTRL=y

CONFIG_GPIO=y
CONFIG_GPIO_STM32=y

# Enable UART
CONFIG_SERIAL=y

# Enable CAN
CONFIG_CAN=y

# Console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_GPIO_SHELL=y
CONFIG_CAN_SHELL=y
CONFIG_THREAD_MONITOR=y
